<h1>{{title}}</h1>
<h2>Get input box value</h2>
<input type="text" #box placeholder="Enter Text" name="name">
<button (click)="getValue(box.value)">Click me</button>
<p>Get value of box is : {{displayvalue}}</p>

<button class="minus" (click)="counter('minus')">--</button>
<p>Count : {{count}}</p>
<button class="add" (click)="counter('add')">++</button>

<br><br>
<button class="minus1" (click)="counter1('minus1')"> Minus --</button>
<p>Count is : {{count1}}</p>
<button class="add1" (click)="counter1('add1')">Add ++ </button>
<p>this is to check</p>