<h1>{{title}}</h1>
<h2>Get input box value</h2>
<input type="text" #box placeholder="Enter Text" name="name">
<button (click)="getValue(box.value)">Click me</button>
<p>Get value of box is : {{displayvalue}}</p>

<button class="minus" (click)="counter('minus')">--</button>
<p>Count : {{count}}</p>
<button class="add" (click)="counter('add')">++</button>

<br><br>
<button class="minus1" (click)="counter1('minus1')"> Minus --</button>
<p>Count is : {{count1}}</p>
<button class="add1" (click)="counter1('add1')">Add ++ </button>
<p>this is to check</p>

<h2>Property binding</h2>
<input type="text" name="name" placeholder="username" value="{{name}}" disabled={{disable}}>
<br><br>
<input type="text" name="name" placeholder="username" [value]=name [disabled]=disable>

<h1>This is If else </h1>
<h2 *ngIf="show =='yes'; then ifBlock else elseBlock"></h2>
<ng-template #ifBlock>
    <h3>this is if block Eternal solutions</h3>

</ng-template>

<ng-template #elseBlock>
    <h1>this is Else block</h1>
</ng-template>


<h1>Multiple condition or else if</h1>

<ng-template [ngIf]="color==='yellow'">
    <h2 style="color: yellow;">Color is Yellow</h2>
</ng-template>

<ng-template [ngIf]="color==='red'">
    <h2 style="color: red;">Color is Red</h2>
</ng-template>

<ng-template [ngIf]="color==='blue'">
    <h2 style="color: blue;">Color is Blue</h2>
</ng-template>

<h1>Switch case</h1>

<div [ngSwitch]="switchColor">
    <h2 *ngSwitchCase="'red'" style="color: red;">Red color</h2>
    <h2 *ngSwitchCase="'green'" style="color: green;">Green color</h2>
    <h2 *ngSwitchCase="'maroon'" style="color: maroon;">Maroon color</h2>
    <h2 *ngSwitchCase="'yellow'" style="color: yellow;">Yellow color</h2>
    <h2 *ngSwitchCase="'blue'" style="color: blue;">Blue color</h2>
    <h2 *ngSwitchDefault>This is default case</h2>
    

</div>